<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039154083751-6vndotoqjhhqgonduec1mhktugimv725.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039154083751-6vndotoqjhhqgonduec1mhktugimv725</string>
	<key>API_KEY</key>
	<string>AIzaSyC1xnoCqNFLtLymCYbAf1HbfsjPKsd3mXs</string>
	<key>GCM_SENDER_ID</key>
	<string>1039154083751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cempHub</string>
	<key>PROJECT_ID</key>
	<string>cemp-hub</string>
	<key>STORAGE_BUCKET</key>
	<string>cemp-hub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039154083751:ios:6f5d88273f2dff22476882</string>
	<key>DATABASE_URL</key>
	<string>https://cemp-hub-default-rtdb.firebaseio.com</string>
</dict>
</plist>